# Backend API URL
NEXT_PUBLIC_API_URL=

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://website-name.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=***

# Umami Analytics Configuration
# Get your website ID from the Umami dashboard
NEXT_PUBLIC_UMAMI_WEBSITE_ID=your-website-id-here

NEXT_PUBLIC_AXIOM_DATASET=
NEXT_PUBLIC_AXIOM_TOKEN=
